/* Обнуляем отступы и задаем общие стили */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.drone-image {
  width: 100%; /* Растягиваем на всю ширину */
  height: auto; /* Сохраняем пропорции */
  display: block; /* Убираем отступы у <img> */
}
.background-image {
  background-image: url("image.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  width: 100%;
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
}
body,
html {
  height: 100%;
  font-family: Arial, sans-serif;
  background-color: #0044cc; /* Синий фон всей страницы */
  color: white;
}

/* Центрируем контент по центру экрана */
.page-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 50px;
  min-height: 100vh;
}

/* Заголовок */
h1 {
  font-size: 3em;
  margin-bottom: 20px;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

/* Обычный текст */
p {
  font-size: 1.5em;
  text-align: center;
  max-width: 800px;
  margin-bottom: 30px;
}

/* Кнопка */
button {
  padding: 12px 25px;
  font-size: 1em;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #45a049;
}
